HELP.md
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Visual Studio Code ###
.vscode

### Maven ###
/.mvn/

### Java ###
/target/

### Project ###
/cove-api/logs/
