<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/asset/style.css">
    <title>发现世界</title>
</head>

<body>
<div class="container">
    <div class="justify-content-center">
        <div class="user-card">
            <div class="text-center">
                发现世界
            </div>
            <div class="justify-content-center form-container">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        <input type="text" class="form-control input-user" name="user-name" placeholder="邮箱" autocomplete="off"
                            v-model="name">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        <input type="password" class="form-control input-pass" name="user-password" placeholder="密码" autocomplete="off"
                            v-model="password">
                    </div>
            </div>
            <div class="justify-content-center mt-3 login-container">
                <button type="button" name="button" class="btn login-btn"
                    v-on:click="login">登录</button>
            </div>
            <div class="mt-4">
                <div class="text-right">
                    <a href="signup.html" class="ml-2">注册</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/asset/utils/fetch.js" type="module"></script>
<script src="/asset/utils/lodash.min.js"></script>
<script src="/asset/vue/vue.min.js"></script>
<script src="/asset/cove-app.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    input:{
        name:'',
        password:''
    }
  },
  methods:{
    login: function(){
        var that = this;
        cove.app.send({
            url: '/user/login',
            method: 'POST',
            data: that.input,
            onSuccess: function(res){
                if(res.code == 0){

                } else {

                }
            }
        });
    }
  }
})

</script>
</body>
</html>