<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultEnumTypeHandler"
                 value="com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="plus.cove.infrastructure.mybatis.LocalDateTimeHandler"/>
    </typeHandlers>

</configuration>